.navbar{
  background-color:#1E3A5F;
  padding:12px 0;
}

/* Logo */

.navbar-brand{
  font-size:24px;
  font-weight:bold;
  color:white !important;
}

/* Nav Links */

.nav-link{
  color:white !important;
  font-weight:500;
  margin-right:15px;
  transition:0.3s;
}

.nav-link:hover{
  color:#cbd5e1 !important;
}

/* Button */

.navbar button{
  background-color:#2563EB;
  border:none;
  color:white;
  padding:6px 14px;
  border-radius:5px;
}

.navbar button:hover{
  background-color:#1d4ed8;
}