.change-password-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f9f9;

}

.change-password-card {
  width: 400px;
  padding: 35px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  color: #2c7a7b;
}

.title {
  text-align: center;
  margin-bottom: 5px;
  font-weight: 600;
  color: #2c7a7b;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  margin-bottom: 25px;
  color: #555;
}

.input-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 6px;
  font-size: 14px;
  color: #333;
}

.input-group input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #2c7a7b;
  box-shadow: 0 0 5px rgba(44, 122, 123, 0.3);
}

.password-field {
  position: relative;
  display: flex;
  align-items: center;
}

.password-field input {
  width: 100%;
  padding-right: 40px;
}

.eye-icon {
  position: absolute;
  right: 12px;
  cursor: pointer;
  color: #2c7a7b;
  font-size: 16px;
  transition: 0.3s;
}

.eye-icon:hover {
  color: #246b6c;
}

.change-btn {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #2c7a7b;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.change-btn:hover {
  background: #246b6c;
  transform: translateY(-2px);
}