*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  
  background:#F8FAFC;
  min-height:100vh;
}

#root{
  width:100%;
}



a{
  text-decoration:none;
}

/* Button reset */

button{
  cursor:pointer;
}