.meeting-wrapper {
  width: 600px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.info-box {
  background: #f1f5f9;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;

}

.info-box p {
  margin: 5px 0;
  color: #374151;
}

.meeting-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-group label {
  font-weight: 600;
  color: #111827;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #4f46e5;
}

.submit-btn {
  padding: 12px;
  background: #1E3A5F;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.submit-btn:hover {
  background: #3730a3;
}