/* Navbar */
.broker-navbar{
  background-color:#1E3A5F;
  padding:12px 0;
}

/* Logo */
.broker-logo{
  color:white;
  font-size:22px;
  font-weight:700;
  text-decoration:none;
}

.broker-logo:hover{
  color:#f8d210;
}

/* Menu Links */
.nav-menu{
  gap:25px;
}

.menu-link{
  color:white;
  font-weight:500;
  position:relative;
  transition:0.3s;
}

/* Hover effect */
.menu-link:hover{
  color:#f8d210;
}
.menu 
/* Animated underline */
.menu-link::after{
  content:"";
  position:absolute;
  width:0;
  height:2px;
  left:0;
  bottom:-4px;
  background:#f8d210;
  transition:0.3s;
}

.menu-link:hover::after,
.menu-link.active::after{
  width:100%;
}

/* Broker profile */
.broker-profile{
  gap:8px;
}

.profile-icon{
  color:white;
}

.broker-name{
  color:white;
  font-weight:600;
}

/* Dropdown */
.dropdown-menu{
  border-radius:8px;
}

.dropdown-item{
  font-size:14px;
}

.dropdown-item:hover{
  background:#f1f1f1;
}

/* remove dropdown arrow */
.profile-dropdown-btn{
  background:none;
  border:none;
}