.blog-section {
  background: #f8f9fa;
}


.blog-card {
  background: #ffff;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
}

.blog-card:hover {
  transform: translateY(-5px);
}


.blog-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.small-card img {
  height: 180px;
}

.featured-card img {
  height: 350px;
}


.blog-img {
  position: relative;
}

.blog-img .badge {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 6px;
}

.blog-card h5 {
  padding: 15px;
  font-weight: 600;
  color: #1f4d44;
}

.blog-card h2 {
  padding: 20px;
  font-weight: 700;
  color: #1f4d44;
}

.blog-card p {
  padding: 0 20px 20px;
  color: #555;
  font-size: 14px;
}

.meta {
  font-size: 13px;
  color: #888;
}