.contact-info-section {
    padding: 60px 0;
    background: #f8f9fa;
}

.info-box {
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    gap: 15px;
    transition: 0.3s;
}

.info-box:hover {
    transform: translateY(-5px);
}

.icon-circle {
    width: 60px;
    height: 60px;
    background: #e9f5f1;
    border-radius: 50%;
    transition: 0.3s;
}

.contact-icon {
    font-size: 22px;
    color: #1f6f5c;
}

.info-box:hover .icon-circle {
    background: #1f6f5c;
}

.info-box:hover .contact-icon {
    color: #ffffff;
}


.map-section iframe {
    width: 100%;
    height: 450px;
}


.contact-form-section {
    margin-top: -120px;
    z-index: 2;
    margin-bottom: 60px;
}

.contact-form-wrapper {
    background: #ffffff;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: auto;
}

.input-icon {
    position: relative;

}

.input-icon svg {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #6c757d;
}

.input-icon input,
.input-icon textarea {
    width: 100%;
    padding: 12px 15px 12px 45px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
}



.btn-main {
    background: #2c7a7b;
    color: #fff;
    padding: 10px 40px;
    border-radius: 6px;
    border: none;
    transition: 0.3s;
}

.btn-main:hover {
    background: #155446;
    color: #fff;
}