@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.custom-navbar {
  background: #ffffff !important;
  border-radius: 50px;
  margin: 20px 120px;
  padding: 12px 30px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
  font-family: "Montserrat", sans-serif;
}

.logo-image{
  width: 150px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.brand-logo {
  font-weight: 700;
  font-size: 22px;
  color: #163535 !important;
}

.nav-links {
  gap: 20px;
}

.custom-link {
  font-weight: 600;
  color: #323b3b !important;
  transition: 0.3s;
  font-size: 15px;
}

.custom-link:hover {
  color: #2c7a7b !important;
  font-weight: 600;
}


.custom-link.active {
  color: #2c7a7b !important;
  font-weight: 600;
}


.get-started-btn {
  background: #2c7a7b !important;
  color: white !important;
  padding: 10px 15px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.get-started-btn:hover {
  background: #245a52;
}

/* Remove Bootstrap default blue background */
.dropdown-item:active,
.dropdown-item.active,
.dropdown-item:focus {
  background-color: transparent !important;
  box-shadow: none !important;

}


.dropdown-item:hover {
  background-color: transparent !important;
  color: #2c7a7b !important;
  font-weight: 600;
}


.dropdown-item.active {
  color: #323b3b !important;
  font-weight: 600;
}
.profile-btn {
  background: transparent;
  border: none;
  color: #2c7a7b;
}

.profile-btn:hover {
  color: #245a52;
}

.dropdown-menu {
  border-radius: 15px;
}