.hero-section {
  padding: 20px 120px;
  background: #f6f9f9;

}

.premium-badge {
  background: #2c7a7b;
  color: white;
  padding: 8px 18px;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  color: #163535;
  margin-top: 20px;
  line-height: 1.2;
}

.hero-text {
  color: #323b3b;
  margin: 20px 0 30px 0;
  font-size: 18px;
  line-height: 1.7;
}


.search-box {
  background: #f5f6f7;
  padding: 30px;
  border-radius: 22px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.08);
}


.custom-field {
  background: #f1f2f3;
  border: 1px solid #e0e0e0;
  border-radius: 14px;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
}

.custom-field.full {
  margin-bottom: 20px;
}

.custom-field label {
  font-size: 13px;
  color: #7a7a7a;
  margin-bottom: 4px;
}

.custom-field select {
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  outline: none;
}

.search-btn {
  background: #2f6f66;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 14px;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s;
}

.search-btn:hover {
  background: #245a52;
}

.hero-image {
  width: 100%;
  border-radius: 25px;

}

.small-img-card {
  position: absolute;
  top: -50px;
  left: 50px;
}

.small-img-card img {
  width: 192px;
  height: 192px;
  border-radius: 20px;
  border: 6px solid white;
}


.about-section {
  padding: 30px 120px;
  background: #ffffff;
}

.about-badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #2c7a7b;
  color: #fff;
  padding: 11px 22px;
  border-radius: 30px;
  font-size: 16px;
  margin-bottom: 60px;
}

.about-title {
  font-size: 40px;
  font-weight: 700;
  color: #163535;
  line-height: 1.2;
  margin-bottom: 24px;
}

.about-text {
  color: #323b3b;
  line-height: 1.8;
  margin-bottom: 40px;
  font-size: 18px;
}

.feature-list {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.feature-list li {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #323b3b;
  margin-bottom: 30px;
  font-size: 16px;
}

.check-icon {
  color: #2f6f66;
  font-size: 20px;
}


.about-btn {
  background: #2f6f66;
  color: #fff;
  padding: 14px 28px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
}

.about-btn:hover {
  background: #245a52;
  transform: translateY(-2px);
}



.about-main-img {
  width: 100%;
  border-radius: 25px;
  margin-top: 80px;
  height: 450px;
}


.bottom-images {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.bottom-images img {
  width: 50%;
  border-radius: 18px;
  object-fit: cover;
  height: 140px;
}


.services-section {
  background: #f8f9fa;
}

.section-title {
  font-weight: 700;
  color: #1f4d44;
  font-size: 38px;
}

.section-subtitle {
  color: #6c757d;
  margin: auto;
}


.service-card {
  background: #ffffff;
  padding: 40px 20px;
  border-radius: 20px;
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
  height: 550px;
}


.service-card:hover {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
}


.active-card {
  background: #256869;
  color: white;
}

.icon-circle {
  width: 70px;
  height: 70px;
  background: #e6f2f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin-bottom: 15px;
}

.active-icon {
  background: white;
  color: #256869;
}


.number {
  position: absolute;
  top: 25px;
  right: 30px;
  font-weight: 600;
  color: #cbd5d3;
}

.active-number {
  color: white;
}

.features-text {
  font-size: 15px;
  line-height: 1.6;
  color: #323b3b !important;
  margin-bottom: 20px;
  text-align: left;
  margin-top: 20px;
}

.active-features-text {
  font-size: 15px;
  line-height: 1.6;
  color: #ffff !important;
  margin-bottom: 20px;
  text-align: left;
  margin-top: 20px;
}

.service-card ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  flex-grow: 1;
}

.service-card ul li {
  margin-bottom: 10px;
  font-size: 15px;

}

.service-card ul li svg {
  margin-right: 8px;
  color: #256869;

}

.active-card ul li svg {
  color: white;
}


.custom-btn {
  border-radius: 30px;
  padding: 10px 22px;
  border: 1px solid #2f6f66;
  color: #256869;
  background: #EFF5F5;
}

.active-btn {
  background: #52898A;
  color: #fff;
  border-radius: 30px;
  padding: 10px 22px;
}

.custom-btn:hover {
  background: #256869;
  color: white;
  border-radius: 30px;
  padding: 10px 22px;
}

.active-btn:hover {
  background: #fff;
  color: #256869;
  border-radius: 30px;
  padding: 10px 22px;
}

/* Section Styling */
.testimonials-section {
  background: #f8f9fa;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  color: #1f4d44;
}

.section-subtitle {
  color: #666;
  margin-top: 10px;
}

/* Card Design */
.testimonial-card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.testimonial-card h4 {
  font-size: 18px;
  line-height: 1.8;
  color: #333;
}

/* Small Client Image */
.client-small-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

/* Main Image */
.main-client-img {
  width: 75%;
  height: 400px;
  border-radius: 20px;
  object-fit: cover;
}

/* Bottom Buttons */
.carousel-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.carousel-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: #e9ecef;
  font-size: 24px;
  font-weight: bold;
  color: #1f4d44;
  transition: 0.3s ease;
}

.carousel-btn:hover {
  background: #2f6f66;
  color: white;
  transform: translateY(-3px);
}

.whyus-section {
  background: #f8f9fa;
}

.image-wrapper {
  position: relative;
}

.main-img {
  border-radius: 15px;
}



.why-badge {
  background: #d8f0ec;
  color: #2f6f66;
  padding: 8px 15px;
  border-radius: 20px;
}

.main-heading {
  font-weight: 700;
  font-size: 32px;
  color: #1f4d44;
}

.feature-box {
  margin-bottom: 20px;

}

.feature-icon {
  background-color: #256869;
  color: white;

  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  margin-bottom: 12px;
}

.stats-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.explore-btn {
  background: #2f6f66;
  color: white;
  padding: 10px 25px;
  border-radius: 8px;
}


.schedule-btn {
  border: 2px solid #2f6f66;
  color: #2f6f66;
  padding: 10px 25px;
  border-radius: 8px;
}

.explore-btn:hover {
  background: #2f6f66;
  color: white;
  padding: 10px 25px;
  border-radius: 8px;

}

.schedule-btn:hover {
  border: 2px solid #2f6f66;
  background: #2f6f66;
  color: white;
  padding: 10px 25px;
  border-radius: 8px;
}