.hero-section {
  padding: 20px 120px;
  background: #f6f9f9;

}

.premium-badge {
  background: #2c7a7b;
  color: white;
  padding: 8px 18px;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  color: #163535;
  margin-top: 20px;
  line-height: 1.2;
}

.hero-text {
  color: #323b3b;
  margin: 20px 0 30px 0;
  font-size: 18px;
  line-height: 1.7;
}


.hero-image {
  width: 100%;
  border-radius: 25px;

}

.small-img-card {
  position: absolute;
  top: -50px;
  left: 50px;
}

.small-img-card img {
  width: 192px;
  height: 192px;
  border-radius: 20px;
  border: 6px solid white;
}


.about-section {
  padding: 30px 120px;
  background: #ffffff;
}

.about-badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #2c7a7b;
  color: #fff;
  padding: 11px 22px;
  border-radius: 30px;
  font-size: 16px;
  margin-bottom: 60px;
}

.about-title {
  font-size: 40px;
  font-weight: 700;
  color: #163535;
  line-height: 1.2;
  margin-bottom: 24px;
}

.about-text {
  color: #323b3b;
  line-height: 1.8;
  margin-bottom: 40px;
  font-size: 18px;
}

.feature-list {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.feature-list li {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #323b3b;
  margin-bottom: 30px;
  font-size: 16px;
}

.check-icon {
  color: #2f6f66;
  font-size: 20px;
}


.about-btn {
  background: #2f6f66;
  color: #fff;
  padding: 14px 28px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
}

.about-btn:hover {
  background: #245a52;
  transform: translateY(-2px);
}



.about-main-img {
  width: 100%;
  border-radius: 25px;
  margin-top: 80px;
  height: 450px;
}


.bottom-images {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.bottom-images img {
  width: 50%;
  border-radius: 18px;
  object-fit: cover;
  height: 140px;
}


.services-section {
  background: #f8f9fa;
  padding: 80px 0;
}

.section-title {
  font-size: 38px;
  font-weight: 700;
  color: #1f4d44;
}

.section-subtitle {
  max-width: 700px;
  margin: 10px auto;
  color: #6c757d;
}


.service-card {
  background: #fff;
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: 0.3s ease;
}

.service-card:hover {
  transform: translateY(-6px);
}


.active-card {
  background: #256869;
  color: #fff;
}


.icon-circle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #e6f2f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #256869;
}

.active-icon {
  background: #fff;
  color: #256869;
}


.number {
  position: absolute;
  top: 15px;
  right: 20px;
  font-weight: bold;
  color: #cbd5d3;
}

.active-number {
  color: #fff;
}


.service-card h4 {
  margin-top: 15px;
  font-weight: 600;
}

.service-card p {
  font-size: 14px;
  margin-top: 10px;
  color: #555;
}

.active-card p,
.active-card ul li {
  color: #fff;
}


.service-card ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.service-card ul li {
  font-size: 14px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #000;
}


.custom-btn {
  border: 1px solid #256869;
  background: #fff;
  color: #256869;
  padding: 10px 20px;
  border-radius: 30px;
  margin-top: 15px;
}

.active-btn {
  background: #256869;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
}


.testimonials-section {
  background: #f8f9fa;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  color: #1f4d44;
}

.section-subtitle {
  color: #666;
  margin-top: 10px;
}


.testimonial-card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.testimonial-card h4 {
  font-size: 18px;
  line-height: 1.8;
  color: #333;
}


.client-small-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}


.main-client-img {
  width: 75%;
  height: 400px;
  border-radius: 20px;
  object-fit: cover;
}


.carousel-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.carousel-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: #e9ecef;
  font-size: 24px;
  font-weight: bold;
  color: #1f4d44;
  transition: 0.3s ease;
}

.carousel-btn:hover {
  background: #2f6f66;
  color: white;
  transform: translateY(-3px);
}

.whyus-section {
  background: #f8f9fa;
}

.image-wrapper {
  position: relative;
}

.main-img {
  border-radius: 15px;
}



.why-badge {
  background: #d8f0ec;
  color: #2f6f66;
  padding: 8px 15px;
  border-radius: 20px;
}

.main-heading {
  font-weight: 700;
  font-size: 32px;
  color: #1f4d44;
}

.feature-box {
  margin-bottom: 20px;

}

.feature-icon {
  background-color: #256869;
  color: white;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 12px;
}

.stats-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.explore-btn {
  background: #2f6f66;
  color: white;
  padding: 10px 25px;
  border-radius: 8px;
}


.schedule-btn {
  border: 2px solid #2f6f66;
  color: #2f6f66;
  padding: 10px 25px;
  border-radius: 8px;
}

.explore-btn:hover {
  background: #2f6f66;
  color: white;
  padding: 10px 25px;
  border-radius: 8px;

}

.schedule-btn:hover {
  border: 2px solid #2f6f66;
  background: #2f6f66;
  color: white;
  padding: 10px 25px;
  border-radius: 8px;
}