.property-card {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}

.property-card:hover {
  transform: translateY(-5px);
}


.property-image {
  position: relative;
}

.property-image img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}


.tag {
  position: absolute;
  top: 10px;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
}

.featured {
  left: 10px;
  background: #f97316;
}

.sale {
  right: 10px;
  background: #0f766e;
}


.property-details {
   padding: 16px;
   
} 

.price {
  color: #0f766e;
  font-weight: 700;
  font-size: 20px;
}

.title {
  margin: 6px 0;
  font-size: 16px;
  font-weight: 600;
}

.location {
  color: #64748b;
  font-size: 14px;
}


.info {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
  font-size: 14px;
}


.agent {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}

.agent img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover; 
  border: 2px solid #0f766e;
}

.agent h6 {
  margin: 0;
  font-size: 14px;
}

.agent p {
  margin: 0;
  font-size: 13px;
  color: #555;
}


.view-btn {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: #0f766e;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.view-btn:hover {
  background: #0d5c56;
}